@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import 'tailwindcss';

body {
 font-family: 'Poppins', sans-serif;
 height: 100vh;
 width: 100vw;
 overflow: hidden;
}

.bg-gradient-to-br {
 background-image: linear-gradient(
  to bottom right,
  var(--tw-gradient-stops)
 );
}

.from-pink-400 {
 --tw-gradient-from: #f472b6;
 --tw-gradient-stops: var(--tw-gradient-from),
  var(--tw-gradient-to, rgba(244, 114, 182, 0));
}

.via-red-400 {
 --tw-gradient-stops: var(--tw-gradient-from), #f87171,
  var(--tw-gradient-to, rgba(248, 113, 113, 0));
}

.to-orange-500 {
 --tw-gradient-to: #f97316;
}
